* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    padding: 50px;
}
.container {
  background-color: #ffffff;
  width: 350px;
  border: 2px solid #3498db;
  border-radius: 10px;
  padding: 25px;
  margin: 0 auto;
  text-align: left;

  .title {
    color: #000000;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: bold;
  }

  .infor{
    color: #7f8c8d;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .price{
    color: #e74c3c;
    font-weight: bold;
  }

}
