.add-to-card{
    background-color: #ebc334;
    border: 1px solid #cea62a;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #333;

    .cart-icon{
        display: inline-block;
        font-size: 20px;
        margin-right: 8px;
        vertical-align: middle;
    }

    .button-text{
        display: inline-block;
        font-size: 14px;
        vertical-align: middle;
    }
}