* {
  margin: 0;
  padding: 0;
}
$font-text: "Helvetica Neue", Helvetica, Arial, sans-serif;

div {
  border: 1px solid #000;
  padding: 5px;
  max-width: 500px;
  background-color: white;
  font-family: $font-text;
  color: #333;
  .name {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 8px;
  }

  .title {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 8px;
  }

  .description {
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
  }
}
